# fly.toml app configuration file generated for tiddlywiki-on-flyio on 2025-05-29T10:49:48+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

[build]

[[mounts]]
  source = 'data'
  destination = '/data'
  auto_extend_size_threshold = 80
  auto_extend_size_increment = '1GB'
  auto_extend_size_limit = '5GB'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'
